.container {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.head {
  margin-left: 35px;
}

.style {
  text-decoration: line-through;
  opacity: 0.5;
}

.list {
  list-style-type: none;
}
